In [17]:
import pandas as pd;
from datetime import datetime, timedelta;
import numpy as np


p_today = datetime.now()
p_tomorrow = timedelta(days=1)
p_tomorrow = p_today + p_tomorrow
# print(p_tomorrow)



# Read source data files

in_systembooks_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5\\Data\\03_Library Systembook.csv"
in_systemcustomers_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5-20251110\\Data\\03_Library SystemCustomers.csv"

out_systembooks_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5\\Analysis\\03_Library Systembook.csv"
out_systemcustomers_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5\\Analysis\\03_Library SystemCustomers.csv"

df_books = pd.read_csv(in_systembooks_file, delimiter=',')
df_customers = pd.read_csv(in_systemcustomers_file, delimiter=',')

In [18]:
# Drop Rows from Books file with missing data
cl_dfbooks = df_books.dropna(axis=0)

# Remove duplicates
cl_dfbooks.Id.unique()
#print(cl_dfbooks)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20.])

In [19]:

#  Convert string to date
cl_dfbooks.loc[:,'Book checkout'] = cl_dfbooks['Book checkout'].str.replace(r'"', '')
cl_dfbooks['Book checkout'] = pd.to_datetime(cl_dfbooks['Book checkout'], format="%d/%m/%Y", errors='coerce')
cl_dfbooks['Book Returned'] = pd.to_datetime(cl_dfbooks['Book Returned'], format="%d/%m/%Y", errors='coerce')

C:\Users\Admin\AppData\Local\Temp\ipykernel_12500\2303206201.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cl_dfbooks['Book checkout'] = pd.to_datetime(cl_dfbooks['Book checkout'], format="%d/%m/%Y", errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_12500\2303206201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cl_dfbooks['Book Returned'] = pd.to_datetime(cl_dfbooks['Book Returned'], format="%d/%m/%Y", errors='coerce')

In [21]:
cl_dfbooks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      20 non-null     float64
 1   Books                   20 non-null     object
 2   Book checkout           19 non-null     datetime64[ns]
 3   Book Returned           20 non-null     datetime64[ns]
 4   Days allowed to borrow  20 non-null     object
 5   Customer ID             20 non-null     float64
dtypes: datetime64[ns](2), float64(2), object(2)
memory usage: 1.1+ KB

In [24]:
import numpy as np

cl_dfbooks['Days Borrowed'] = (cl_dfbooks['Book Returned'] - cl_dfbooks['Book checkout'] ) / np.timedelta64(1, 'D')
print(cl_dfbooks)

# Drop Rows from Books file with missing data
cl_df_customers = df_customers.dropna(axis=0)

#Write data frames to the output folder
#cl_dfbooks.to_csv(out_systembooks_file);
#cl_df_customers.to_csv(out_systemcustomers_file);

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye     2023-02-20
1    2.0          Lord of the rings the two towers    2023-03-24
2    3.0  Lord of the rings the return of the kind    2023-03-29
3    4.0                                The hobbit    2023-04-02
4    5.0                                     Dune     2023-04-02
5    6.0                              Little Women    2023-04-02
6    7.0                                        IT    2063-04-10
7    8.0                                   Misery     2023-04-15
8    9.0                                  Catch 22    2023-04-15
9   10.0                              Animal Farm     2023-04-20
10  11.0                                      1984    2023-04-23
11  12.0                              Little Women    2023-04-02
12  13.0                              East of Eden    2023-04-30
13  14.0                   America Is in the Heart    2023-05-01
14  15.0                         Wuthering Heights    2023-05-01
15  16.0                                Dark Tales    2023-05-15
16  17.0                        The Bloody Chamber           NaT
17  18.0                            Les Miserables    2023-06-03
18  19.0                                   Dracula    2023-06-10
19  20.0                              Frankenstein    2023-06-01

   Book Returned Days allowed to borrow  Customer ID  Days Borrowed
0     2023-02-25                2 weeks          1.0            5.0
1     2023-03-21                2 weeks          2.0           -3.0
2     2023-03-25                2 weeks          3.0           -4.0
3     2023-03-25                2 weeks          4.0           -8.0
4     2023-03-25                2 weeks          5.0           -8.0
5     2023-05-01                2 weeks          1.0           29.0
6     2023-04-03                2 weeks          6.0       -14617.0
7     2023-04-03                2 weeks          7.0          -12.0
8     2023-04-16                2 weeks          7.0            1.0
9     2023-04-24                2 weeks          2.0            4.0
10    2023-04-27                2 weeks          8.0            4.0
11    2023-05-01                2 weeks          1.0           29.0
12    2023-05-05                2 weeks          2.0            5.0
13    2023-05-07                2 weeks          3.0            6.0
14    2023-05-10                2 weeks          9.0            9.0
15    2023-06-01                2 weeks          2.0           17.0
16    2023-06-04                2 weeks          3.0            NaN
17    2023-06-07                2 weeks          5.0            4.0
18    2023-07-10                2 weeks         10.0           30.0
19    2023-06-20                2 weeks          2.0           19.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_12500\3685047059.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cl_dfbooks['Days Borrowed'] = (cl_dfbooks['Book Returned'] - cl_dfbooks['Book checkout'] ) / np.timedelta64(1, 'D')