In [48]:
import pandas as pd;
from datetime import datetime, timedelta;
import numpy as np

dropCount=0

p_today = datetime.now()
p_tomorrow = timedelta(days=1)
p_tomorrow = p_today + p_tomorrow
# print(p_tomorrow)



# Read source data files

in_systembooks_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5\\Data\\03_Library Systembook.csv"
in_systemcustomers_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5-20251110\\Data\\03_Library SystemCustomers.csv"

out_systembooks_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5\\Analysis\\03_Library Systembook.csv"
out_systemcustomers_file = "C:\\Users\\Admin\\Desktop\\DE_M5\\gitrepos\\DE5-M5\\Analysis\\03_Library SystemCustomers.csv"

df_books = pd.read_csv(in_systembooks_file, delimiter=',')
df_customers = pd.read_csv(in_systemcustomers_file, delimiter=',')

In [ ]:
# Strip whitespaces in Column headers
df_books.columns = df_books.columns.str.replace(' ', '_')
df_customers.columns = df_customers.columns.str.replace(' ', '_')
print(df_books.head())
print(df_customers.head())

In [50]:
# Drop Rows from file with missing data
cl_dfbooks = df_books.dropna(axis=0)
cl_df_customers = df_customers.dropna(axis=0)

In [ ]:
# Remove duplicates
cl_dfbooks.Id.unique()
cl_df_customers.Customer_ID.unique()

array([1., 2., 3., 5., 6., 7., 8., 9.])

In [52]:
try:
    #  Convert string to date
    cl_dfbooks.loc[:,'Book_checkout'] = cl_dfbooks['Book_checkout'].str.replace(r'"', '')
    cl_dfbooks.loc[:,'Book_checkout'] = pd.to_datetime(cl_dfbooks['Book_checkout'], format='mixed')
    cl_dfbooks.head()
    cl_dfbooks.info()
except Exception as e:
    print(f"Error occurred: {e}")

Error occurred: Invalid date specified (32/5), at position 16

In [53]:
cl_dfbooks.iloc[16]

Id                                      17.0
Books                     The Bloody Chamber
Book_checkout                     32/05/2023
Book_Returned                     04/06/2023
Days_allowed_to_borrow               2 weeks
Customer_ID                              3.0
Name: 16, dtype: object

In [54]:
cl_dfbooks.drop(16, inplace=True)
dropCount += 1

C:\Users\Admin\AppData\Local\Temp\ipykernel_5832\2777162611.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cl_dfbooks.drop(16, inplace=True)

In [55]:
try:
    #  Convert string to date
    cl_dfbooks.loc[:,'Book_checkout'] = cl_dfbooks['Book_checkout'].str.replace(r'"', '')
    cl_dfbooks.loc[:,'Book_checkout'] = pd.to_datetime(cl_dfbooks['Book_checkout'], format='mixed')
except Exception as e:
    print(f"Error occurred: {e}")

In [56]:
try:
    #  Convert string to date
    cl_dfbooks.loc[:,'Book_Returned'] = cl_dfbooks['Book_Returned'].str.replace(r'"', '')
    cl_dfbooks.loc[:,'Book_Returned'] = pd.to_datetime(cl_dfbooks['Book_Returned'], format='mixed')
except Exception as e:
    print(f"Error occurred: {e}")

In [58]:
import numpy as np

cl_dfbooks.loc[:,'Days_Borrowed'] = (cl_dfbooks['Book_Returned'] - cl_dfbooks['Book_checkout'] ) / np.timedelta64(1, 'D')
print(cl_dfbooks)

      Id                                     Books        Book_checkout  \
0    1.0                       Catcher in the Rye   2023-02-20 00:00:00
1    2.0          Lord of the rings the two towers  2023-03-24 00:00:00
2    3.0  Lord of the rings the return of the kind  2023-03-29 00:00:00
3    4.0                                The hobbit  2023-02-04 00:00:00
4    5.0                                     Dune   2023-02-04 00:00:00
5    6.0                              Little Women  2023-02-04 00:00:00
6    7.0                                        IT  2063-10-04 00:00:00
7    8.0                                   Misery   2023-04-15 00:00:00
8    9.0                                  Catch 22  2023-04-15 00:00:00
9   10.0                              Animal Farm   2023-04-20 00:00:00
10  11.0                                      1984  2023-04-23 00:00:00
11  12.0                              Little Women  2023-02-04 00:00:00
12  13.0                              East of Eden  2023-04-30 00:00:00
13  14.0                   America Is in the Heart  2023-01-05 00:00:00
14  15.0                         Wuthering Heights  2023-01-05 00:00:00
15  16.0                                Dark Tales  2023-05-15 00:00:00
17  18.0                            Les Miserables  2023-03-06 00:00:00
18  19.0                                   Dracula  2023-10-06 00:00:00
19  20.0                              Frankenstein  2023-01-06 00:00:00

          Book_Returned Days_allowed_to_borrow  Customer_ID  Days_Borrowed
0   2023-02-25 00:00:00                2 weeks          1.0            5.0
1   2023-03-21 00:00:00                2 weeks          2.0           -3.0
2   2023-03-25 00:00:00                2 weeks          3.0           -4.0
3   2023-03-25 00:00:00                2 weeks          4.0           49.0
4   2023-03-25 00:00:00                2 weeks          5.0           49.0
5   2023-01-05 00:00:00                2 weeks          1.0          -30.0
6   2023-03-04 00:00:00                2 weeks          6.0       -14824.0
7   2023-03-04 00:00:00                2 weeks          7.0          -42.0
8   2023-04-16 00:00:00                2 weeks          7.0            1.0
9   2023-04-24 00:00:00                2 weeks          2.0            4.0
10  2023-04-27 00:00:00                2 weeks          8.0            4.0
11  2023-01-05 00:00:00                2 weeks          1.0          -30.0
12  2023-05-05 00:00:00                2 weeks          2.0            5.0
13  2023-07-05 00:00:00                2 weeks          3.0          181.0
14  2023-10-05 00:00:00                2 weeks          9.0          273.0
15  2023-01-06 00:00:00                2 weeks          2.0         -129.0
17  2023-07-06 00:00:00                2 weeks          5.0          122.0
18  2023-10-07 00:00:00                2 weeks         10.0            1.0
19  2023-06-20 00:00:00                2 weeks          2.0          165.0

In [ ]:

#Write data frames to the output folder
cl_dfbooks.to_csv(out_systembooks_file);
cl_df_customers.to_csv(out_systemcustomers_file);